.bg-primary  {
    background-color: #ff0000 !important;
}
body{
background-color: #fa5252;
}
.headroom--not-top.navbar-theme-primary {
    background-color: #ff0000 !important;
}

.btn-primary {
    background-color: #ff0000  !important;
}